@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
  overflow: hidden;
}

.logo {
  display: flex;
}
.logo__img {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 601px) {
  .logo__img {
    width: 60px;
    height: 60px;
  }
}
.logo__title {
  font-size: 1.25rem;
  line-height: 25px;
  color: #2b292d;
}
.logo__description {
  display: block;
  font-size: 1.125rem;
  line-height: 25px;
  color: #767678;
  font-weight: 400;
}

.header .logo {
  align-items: center;
}
@media screen and (min-width: 601px) {
  .header .logo {
    max-width: 300px;
  }
}
.header .logo__title {
  margin-left: 15px;
  font-size: 1.25rem;
}
@media screen and (min-width: 601px) {
  .header .logo__title {
    margin-left: 15px;
  }
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 601px) {
  .header .logo__description {
    display: block;
  }
}

.footer .logo {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .footer .logo {
    flex-direction: row;
    text-align: left;
  }
}
.footer .logo__title {
  margin-top: 20px;
}
@media screen and (min-width: 601px) {
  .footer .logo__title {
    margin: 0 15px;
  }
}

.checkbox-hidden {
  display: none;
}

.horizontal {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  min-width: 160px;
  padding: 0 25px;
  line-height: 48px;
  border-radius: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
}
.button_primary {
  background: #3040c4;
  color: #ffffff;
}
.button_color {
  background: #ffffff;
  color: #3040c4;
}

.page-title__subtitle {
  font-size: 1.375rem;
  line-height: 34px;
  font-weight: 700;
}
.page-title h2 {
  margin-top: 15px;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.35px;
  color: #2c3241;
}
@media screen and (min-width: 601px) {
  .page-title h2 {
    margin-top: 20px;
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: -0.5px;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.3;
}

main {
  overflow: hidden;
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
}

.top-section {
  min-width: 320px;
  margin: 0 auto;
  background: #f3c6bd;
}
@media screen and (min-width: 601px) {
  .top-section {
    max-width: 1400px;
    padding-top: 40px;
    position: relative;
  }
}

.header {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #ffffff;
}
@media screen and (min-width: 601px) {
  .header {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    background: transparent;
  }
}
.header__menu {
  display: flex;
}
.header__button {
  display: none;
}
@media screen and (min-width: 601px) {
  .header__button {
    display: block;
    margin-left: 75px;
    background: #3040c4;
    color: #ffffff;
  }
}

.navigation__mobile-btn {
  display: block;
  min-width: 60px;
  border-left: 1px solid #cfcecf;
  padding: 32px 20px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png) center no-repeat;
}
@media screen and (min-width: 601px) {
  .navigation__mobile-btn {
    display: none;
  }
}
.navigation__list {
  display: none;
}
@media screen and (min-width: 601px) {
  .navigation__list {
    display: flex;
    gap: 55px;
  }
}
.navigation__item {
  margin-top: 15px;
}
.navigation__link {
  color: #2b292d;
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 400;
}
.navigation_active {
  font-weight: 700;
}
.navigation__img-arrov {
  display: inline-block;
  margin-left: 5px;
  width: 8px;
}

.footer {
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (min-width: 601px) {
  .footer__top-section {
    display: flex;
    padding: 45px 15px 60px;
  }
}
.footer__content {
  padding: 40px 15px;
}
@media screen and (min-width: 601px) {
  .footer__content {
    max-width: 360px;
    padding: 0;
  }
}
.footer__description {
  display: none;
}
@media screen and (min-width: 601px) {
  .footer__description {
    display: block;
    margin-top: 25px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
    color: #767678;
  }
}
.footer__pay-block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .footer__pay-block {
    margin-top: 25px;
    justify-content: flex-start;
    gap: 10px;
  }
}
.footer__aple-pay {
  max-width: 135px;
}
.footer__google-pay {
  max-width: 115px;
}
.footer__ground {
  padding-bottom: 20px;
}
@media screen and (min-width: 601px) {
  .footer__ground {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 601px) {
  .additional-navigation {
    width: 47.8632478632%;
    margin-left: 7.6923076923%;
    display: flex;
    justify-content: space-between;
  }
}
.additional-navigation__section {
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .additional-navigation__section {
    width: 47.3214285714%;
    margin-top: 0;
  }
}
.additional-navigation__title {
  font-size: 1.375rem;
  line-height: 28px;
  font-weight: 700;
}
.additional-navigation__list {
  margin-top: 15px;
}
.additional-navigation__item {
  margin-top: 10px;
}
.additional-navigation__link {
  font-size: 1.125rem;
  line-height: 30px;
  color: #767678;
}

.legalicy {
  display: flex;
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .legalicy {
    margin: 0;
  }
}
@media screen and (min-width: 601px) {
  .legalicy__item {
    line-height: 50px;
  }
}
.legalicy__item + li {
  margin-left: 20px;
}
.legalicy__link {
  font-size: 0.875rem;
  line-height: 22px;
  color: #767678;
}

.social-links {
  display: flex;
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .social-links {
    margin: 0;
  }
}
.social-links__item + li {
  margin-left: 20px;
}
.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17px;
}

.headline {
  padding-bottom: 40px;
  margin-top: 35px;
}
@media screen and (min-width: 601px) {
  .headline {
    max-width: 1140px;
    margin: 75px auto 0;
    padding-bottom: 125px;
  }
}
.headline__content {
  padding: 0 15px;
}
@media screen and (min-width: 601px) {
  .headline__content {
    width: 64.1025641026%;
    padding: 0;
    position: relative;
    z-index: 10;
  }
}
.headline__title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.31px;
  color: #2b292d;
}
@media screen and (min-width: 601px) {
  .headline__title {
    font-size: 5rem;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 34px;
  color: #2b292d;
}
@media screen and (min-width: 601px) {
  .headline__description {
    margin-top: 40px;
    width: 60%;
  }
}
.headline__buttons {
  overflow: hidden;
  margin-top: 15px;
}
@media screen and (min-width: 601px) {
  .headline__buttons {
    margin: 60px 0 0 -5px;
  }
}
.headline__button {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
@media screen and (min-width: 601px) {
  .headline__button {
    width: auto;
    margin: 0 0 0 5px;
  }
}
.headline__image {
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .headline__image {
    width: 56.7857142857%;
    margin-top: 0;
    position: absolute;
    bottom: 90px;
    right: 25px;
  }
}

.about {
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 9.2857142857% 45px;
  background: #f4f5f7;
}
@media screen and (min-width: 601px) {
  .about {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
}
.about .article {
  margin-top: 20px;
}
@media screen and (min-width: 601px) {
  .about .article {
    width: 39.6428571429%;
  }
}
.about .article__title {
  font-family: Work Sans;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 32px;
  color: #2b292d;
}
.about .article__description {
  margin-top: 10px;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 32px;
  color: #2b292d;
}

.customers {
  overflow: hidden;
}
@media screen and (min-width: 601px) {
  .customers {
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 15px 0;
  }
  .audience__wrap + .customers {
    padding: 40px 15px 0;
  }
}
.customers__list {
  margin-left: -1px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 601px) {
  .customers__list {
    justify-content: space-between;
  }
}
.customers__item {
  flex: 1 1 105px;
  height: 90px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cfcecf;
  border-left: 1px solid #cfcecf;
}
@media screen and (min-width: 601px) {
  .customers__item {
    flex: none;
    height: 75px;
    padding: 0;
    border: none;
  }
}

.features {
  display: none;
}
@media screen and (min-width: 601px) {
  .features {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/hidden-ouch.png) left no-repeat;
    padding: 100px 0 100px 130px;
    position: relative;
  }
}
.features__content {
  max-width: 460px;
}
.features__subtitle {
  color: #009b4d;
}
.features__title {
  margin-top: 25px;
}
.features__description {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 34px;
}
.features__list {
  margin-top: 40px;
}
.features__item {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 28px;
  border-bottom: 1px solid #cfcecf;
  cursor: pointer;
}
.features__item:hover {
  border-bottom: 1px solid #3040c4;
}
.features__item:hover .features-desctop__item_title {
  color: #3040c4;
}
.features__img-icon {
  display: inline-block;
}
.features__title-item {
  margin-left: 15px;
  font-size: 1.375rem;
  line-height: 26px;
  color: #2b292d;
}
.features__context-item {
  margin-top: 5px;
  font-size: 1.125rem;
  line-height: 26px;
  color: #2b292d;
}
.features__desktop-img {
  position: absolute;
  left: 50%;
  top: 100px;
}

@media screen and (min-width: 601px) {
  .mobile-section {
    display: none;
  }
}
.mobile-section__subtitle {
  color: #009b4d;
}
.mobile-section__description {
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 34px;
}
.mobile-section__img {
  margin-top: 30px;
}
.mobile-section__footer {
  margin-top: 20px;
  font-size: 0.875rem;
  line-height: 22px;
  text-align: center;
  color: #2c3241;
}

.acquire-customers {
  padding: 50px 15px 40px;
}

.engage-users {
  padding: 40px 15px;
  border-top: 1px solid #cfcecf;
}

.support {
  padding: 40px 15px 50px;
  border-top: 1px solid #cfcecf;
}

.inbox {
  padding: 50px 0;
  background: #fcf0e3;
}
@media screen and (min-width: 601px) {
  .inbox {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 601px) {
  .inbox__img-wrap {
    width: 47.5%;
    text-align: center;
  }
}
@media screen and (min-width: 601px) {
  .inbox__img {
    width: 74.5614035088%;
    display: inline-block;
  }
}
.inbox__comment {
  display: none;
}
@media screen and (min-width: 601px) {
  .inbox__comment {
    display: block;
    margin-top: 15px;
    font-size: 0.875rem;
    line-height: 22px;
    color: #2c3241;
  }
}
.inbox__content {
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .inbox__content {
    width: 43.3333333333%;
    margin: 0;
  }
}
.inbox__subtitle {
  color: #f1592b;
}
@media screen and (min-width: 601px) {
  .inbox__subtitle {
    padding: 0 30px;
  }
}
@media screen and (min-width: 601px) {
  .inbox__title {
    margin-top: 20px;
    padding: 0 30px;
  }
}
.inbox__description {
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 34px;
}
@media screen and (min-width: 601px) {
  .inbox__description {
    margin-top: 30px;
    padding: 0 30px;
  }
}

.review {
  margin-top: 30px;
  padding: 30px 20px;
  background: #ffffff;
  border-bottom: 4px solid #0185d0;
}
@media screen and (min-width: 601px) {
  .review {
    padding: 30px;
  }
}
.review__description {
  font-size: 1.25rem;
  line-height: 28px;
}
.review__footer {
  margin-top: 25px;
  display: flex;
}
.review__img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review__title {
  flex: 1 1 0;
  display: inline-block;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
}
.review__title span {
  display: block;
  font-weight: 400;
}

.communication {
  padding: 50px 15px;
}
@media screen and (min-width: 601px) {
  .communication {
    padding: 110px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 601px) {
  .communication__content {
    width: 39.3162393162%;
  }
}
.communication__subtitle {
  color: #0189d1;
}
@media screen and (min-width: 601px) {
  .communication__subtitle {
    margin-top: 15px;
  }
}
.communication__description {
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 34px;
}
@media screen and (min-width: 601px) {
  .communication__description {
    margin-top: 30px;
  }
}
.communication__button {
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .communication__img-wrap {
    width: 50%;
    text-align: center;
  }
}
.communication__img {
  margin-top: 40px;
}
@media screen and (min-width: 601px) {
  .communication__img {
    margin-top: 0;
    width: 74.5614035088%;
    display: inline-block;
  }
}
.communication__img-comment {
  margin-top: 15px;
  font-size: 0.875rem;
  line-height: 22px;
  text-align: center;
}
.communication__list {
  width: 100%;
  margin-top: 40px;
  padding-top: 30px;
  position: relative;
}
@media screen and (min-width: 601px) {
  .communication__list {
    margin-top: 20px;
    padding-top: 40px;
    display: flex;
  }
}
.communication__list::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  border-top: 1px solid #000000;
}
.communication__item + .communication__item {
  margin-top: 30px;
}
@media screen and (min-width: 601px) {
  .communication__item + .communication__item {
    margin: 0 0 0 1.2820512821%;
  }
}

.item__description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 26px;
}
.item__description strong {
  font-weight: 700;
}
.item__link {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 26px;
  color: #3040c4;
  text-decoration: underline;
}

.audience {
  padding: 52px 0 50px;
  background: #edf8fa;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .audience {
    max-width: 1400px;
    margin: 0 auto;
    padding: 110px 130px;
  }
}
@media screen and (min-width: 601px) {
  .audience__content {
    width: 48.6842105263%;
    margin: 0 auto;
  }
}
.audience__subtitle {
  color: #2b292d;
  text-align: center;
}
.audience__description {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 34px;
  color: #2b292d;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .audience__description {
    margin-top: 30px;
  }
}
.audience__buttons {
  margin-top: 30px;
}
.audience__button {
  display: block;
  width: 100%;
  box-shadow: none;
}
@media screen and (min-width: 601px) {
  .audience__button {
    display: inline-block;
    width: auto;
  }
}
.audience__button:last-of-type {
  margin-top: 10px;
  background: #ffffff;
  color: #000000;
}
@media screen and (min-width: 601px) {
  .audience__button:last-of-type {
    margin: 0 0 0 10px;
  }
}
.audience__list {
  margin-top: 40px;
}
@media screen and (min-width: 601px) {
  .audience__list {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
  }
}
.audience__item {
  border-radius: 10px;
  overflow: hidden;
  min-height: 300px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
}
@media screen and (min-width: 601px) {
  .audience__item {
    min-width: 260px;
  }
}
.audience__item:hover {
  box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.1490196078);
}
.audience__item + .audience__item {
  margin-top: 15px;
}
@media screen and (min-width: 601px) {
  .audience__item + .audience__item {
    margin: 0;
  }
}
.audience__link {
  display: block;
  background: #ffffff;
  padding: 20px 20px 30px;
  text-align: center;
  font-size: 1.375rem;
  line-height: 28px;
  color: #2b292d;
  font-weight: 700;
  cursor: pointer;
}
.audience__link:hover {
  background: #3040c4;
  color: #ffffff;
}
.audience__link span {
  display: block;
  margin-top: 20px;
}
.audience__img {
  display: inline-block;
  height: 195px;
}

.feedback {
  padding: 40px 15px 50px;
}
@media screen and (min-width: 601px) {
  .feedback {
    padding: 75px 0;
    position: relative;
  }
}
@media screen and (min-width: 601px) {
  .feedback__item {
    width: 56.4285714286%;
    margin: 0 auto;
    text-align: center;
  }
}
.feedback__title {
  font-size: 1.5rem;
  line-height: 30px;
  color: #3040c4;
}
.feedback__description {
  margin-top: 30px;
  padding: 0 20px;
  font-size: 1.5rem;
  line-height: 34px;
  color: #2b292d;
}
.feedback__footer {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  color: #2b292d;
}
.feedback__footer b {
  display: block;
  font-weight: 700;
}
.feedback__pagination-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 601px) {
  .feedback__pagination-list {
    gap: 10px;
  }
}
.feedback__pagination-item {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #2c3241;
}
@media screen and (min-width: 601px) {
  .feedback__pagination-item {
    width: 8px;
    height: 8px;
  }
}
.feedback__pagination-item_active {
  background: #3040c4;
}
.feedback__img {
  margin-top: 40px;
}
@media screen and (min-width: 601px) {
  .feedback__img {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 19.2857142857%;
  }
}

.hiring {
  padding: 50px 15px;
  border-top: 1px solid #cfcecf;
}
@media screen and (min-width: 601px) {
  .hiring {
    width: 53.5714285714%;
    margin: 0 auto;
    padding: 105px 0 110px;
  }
}
.hiring__title {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.35px;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .hiring__title {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: -0.5px;
  }
}
.hiring__description {
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .hiring__description {
    margin-top: 20px;
  }
}
.hiring__button {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.hiring__list {
  margin-top: 25px;
}
@media screen and (min-width: 601px) {
  .hiring__list {
    margin-top: 90px;
  }
}

.job {
  border: 1px solid #cfcecf;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
}
@media screen and (min-width: 601px) {
  .job {
    margin-top: 20px;
  }
}
.job__content {
  flex: 1 1 0;
  padding: 20px;
}
@media screen and (min-width: 601px) {
  .job__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
}
.job:hover .job__content {
  background: #3040c4;
}
.job__title {
  font-size: 1.375rem;
  line-height: 28px;
  color: #2b292d;
}
.job:hover .job__title {
  color: #ffffff;
}
.job__text {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 22px;
  color: #767678;
}
@media screen and (min-width: 601px) {
  .job__text {
    margin-top: 0;
  }
}
.job:hover .job__text {
  color: #ffffff;
}
.job__section-arrow {
  flex: 0 0 50px;
  background-color: #d5d4d5;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 601px) {
  .job__section-arrow {
    flex: 0 0 65px;
    background-color: #ffffff;
  }
}
.job:hover .job__section-arrow {
  background: #3040c4;
}
.job__section-arrow img {
  width: 7px;
}
.job:hover .job__img {
  display: none;
}
.job__img_hover {
  display: none;
}
.job:hover .job__img_hover {
  display: block;
}

.order {
  background: #f4f5f7;
  padding: 50px 15px;
}
@media screen and (min-width: 601px) {
  .order {
    max-width: 1400px;
    margin: 0 auto;
    padding: 70px 225px;
    display: flex;
    justify-content: space-between;
  }
}
.order__img {
  width: 200px;
}
@media screen and (min-width: 601px) {
  .order__img {
    width: 28.4210526316%;
  }
}
@media screen and (min-width: 601px) {
  .order__content {
    width: 58.4210526316%;
    margin-top: 40px;
  }
}
.order__title {
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.25px;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 601px) {
  .order__title {
    margin: 0;
    text-align: left;
  }
}
.order__description {
  margin-top: 15px;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 32px;
}
@media screen and (min-width: 601px) {
  .order__description {
    margin-top: 20px;
    padding-right: 50px;
  }
}
.order__form {
  margin-top: 80px;
  font-size: 0;
}
@media screen and (min-width: 601px) {
  .order__form {
    margin-top: 25px;
  }
}
.order__email {
  padding: 0 15px;
  border: 1px solid #cfcecf;
  width: 100%;
  font-size: 1.125rem;
  line-height: 46px;
}
.order__email::placeholder {
  font-size: 1.125rem;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .order__email {
    width: 69.3693693694%;
  }
}
.order__button {
  margin-top: 10px;
  width: 100%;
}
@media screen and (min-width: 601px) {
  .order__button {
    width: auto;
    margin: 0 0 0 10px;
  }
}
.order__text {
  margin-top: 10px;
  font-size: 0.875rem;
  line-height: 22px;
  color: #767678;
}
.order__text-link {
  color: #3040c4;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
