.about {
  max-width: $max-width;
  margin: 0 auto;
  padding: 25px percentages(130, 1400) 45px;
  background: $color-grey2;

  @include responsible {
    display: flex;
    gap: $unix * 2;
    justify-content: space-between;
  }

  .article {
    margin-top: 20px;

    @include responsible {
      width: percentages(555, 1400);
    }

    &__title {
      font-family: Work Sans;
      font-size: toRem(22);
      font-weight: $text-weight-bold;
      line-height: 32px;
      color: $text-color-black1;
    }

    &__description {
      margin-top: 10px;
      font-size: toRem(22);
      font-weight: $text-weight-normal;
      line-height: 32px;
      color: $text-color-black1;
    }
  }
}
