.audience {
  padding: 52px 15px 50px;
  background: $color-blue4;
  text-align: center;

  @include responsible {
    padding: 110px 130px;
  }

  &__content {
    @include responsible {
      width: percentages(555, 1140);
      margin: 0 auto;
    }
  }

  &__subtitle {
    color: $text-color-black1;
    text-align: center;
  }

  &__description {
    margin-top: 20px;
    font-size: toRem(24);
    line-height: 34px;
    color: $text-color-black1;
    text-align: center;

    @include responsible {
      margin-top: $unix-top-mobile;
    }
  }

  &__buttons {
    margin-top: $unix-top-mobile;
  }

  &__button {
    display: block;
    width: 100%;
    box-shadow: none;

    @include responsible {
      display: inline-block;
      width: auto;
    }

    &:last-of-type {
      margin-top: 10px;
      background: $color-white1;
      color: $color-black2;

      @include responsible {
        margin: 0 0 0 10px;
      }
    }
  }

  &__list {
    margin-top: 40px;

    @include responsible {
      margin-top: 110px;
      display: flex;
      justify-content: space-between;
      gap: $unix;
    }
  }

  &__item {
    border-radius: 10px;
    overflow: hidden;
    min-height: 300px;
    box-shadow: 0px 1px 3px 0px #0000001a;
    margin-top: $unix;

    @include responsible {
      min-width: 260px;
      margin: 0;
    }

    &:hover {
      box-shadow: 0px 13px 18px 0px #00000026;
    }
  }

  &__link {
    display: block;
    background: $color-white1;
    padding: 20px 20px 30px;
    text-align: center;
    font-size: toRem(22);
    line-height: 28px;
    color: $text-color-black1;
    font-weight: $text-weight-bold;
    cursor: pointer;

    &:hover {
      background: $color-blue1;
      color: $text-color-white;
    }

    span {
      display: block;
      margin-top: 20px;
    }
  }

  &__img {
    display: inline-block;
    height: 195px;
  }
}
