.main {
  max-width: $max-width;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.top-section {
  min-width: 320px;
  margin: 0 auto;
  background: $color-red1;

  @include responsible {
    max-width: $max-width;
    padding-top: 40px;
    position: relative;
  }
}

.acquire-customers {
  padding: 50px $unix 40px;
}

.engage-users {
  padding: 40px $unix;
  border-top: 1px solid $color-grey4;
}

.support {
  padding: 40px $unix 50px;
  border-top: 1px solid $color-grey4;
}

.horizontal {
  max-width: $size-width;
  margin: 0 auto;
  padding: 0 $unix;
}

.button {
  min-width: 160px;
  padding: 0 25px;
  line-height: 48px;
  border-radius: 3px;
  font-size: toRem(18);
  font-weight: $text-weight-bold;
  box-shadow: 0px 1px 3px 0px #0000001a;

  &_primary {
    background: $color-blue1;
    color: $text-color-white;
  }

  &_color {
    background: $color-white1;
    color: $text-color-blue1;
  }
}

.content {
  &__subtitle {
    font-size: toRem(22);
    line-height: 34px;
    font-weight: $text-weight-bold;
  }

  h2 {
    margin-top: $unix;
    font-size: toRem(40);
    line-height: 1;
    letter-spacing: -0.35px;
    color: $color-black1;

    @include responsible {
      margin-top: 20px;
      font-size: toRem(56);
      line-height: 1;
      letter-spacing: -0.5px;
    }
  }
}
