.features {
  display: none;

  @include responsible {
    display: block;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/hidden-ouch.png)
      left no-repeat;
    padding: 100px 0 100px 130px;
    position: relative;
  }

  &__content {
    max-width: 460px;
  }

  &__subtitle {
    color: $color-green1;
  }

  &__title {
    margin-top: 25px;
  }

  &__description {
    margin-top: $unix-top-mobile;
    font-size: toRem(24);
    font-weight: $text-weight-normal;
    line-height: 34px;
  }

  &__list {
    margin-top: 40px;
  }

  &__item {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 28px;
    border-bottom: 1px solid $color-grey4;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $color-blue1;

      .features-desctop__item_title {
        color: $text-color-blue1;
      }
    }
  }

  &__img-icon {
    display: inline-block;
  }

  &__title-item {
    margin-left: $unix;
    font-size: toRem(22);
    line-height: 26px;
    color: $text-color-black1;
  }

  &__context-item {
    margin-top: 5px;
    font-size: toRem(18);
    line-height: 26px;
    color: $text-color-black1;
  }

  &__desktop-img {
    position: absolute;
    left: 50%;
    top: 100px;
  }
}
