.footer {
  max-width: $max-width;
  margin: 0 auto;

  &__section-top {
    @include responsible {
      display: flex;
      padding: 45px $unix 60px;
    }
  }

  &__content {
    padding: 40px $unix;

    @include responsible {
      max-width: 360px;
      padding: 0;
    }
  }

  &__description {
    display: none;

    @include responsible {
      display: block;
      margin-top: 25px;
      font-size: 1.8rem;
      font-weight: $text-weight-normal;
      line-height: 26px;
      color: $text-color-black2;
    }
  }

  &__pay-block {
    display: flex;
    justify-content: space-between;
    margin-top: $unix-top-mobile;

    @include responsible {
      margin-top: 25px;
      justify-content: flex-start;
      gap: 10px;
    }
  }

  &__aple-pay {
    max-width: 135px;
  }

  &__google-pay {
    max-width: 115px;
  }

  &__inner {
    @include responsible {
      border-top: 1px solid $color-black3;
    }
  }

  &__ground {
    padding-bottom: 20px;

    @include responsible {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
    }
  }
}

.additional-navigation {
  @include responsible {
    width: percentages(560, 1170);
    margin-left: percentages(90, 1170);
    display: flex;
    justify-content: space-between;
  }

  &__section {
    margin-top: $unix-top-mobile;

    @include responsible {
      width: percentages(265, 560);
      margin-top: 0;
    }
  }

  &__title {
    font-size: 2.2rem;
    line-height: 28px;
    font-weight: $text-weight-bold;
  }

  &__list {
    margin-top: $unix;
  }

  &__item {
    margin-top: 10px;
  }

  &__link {
    font-size: 1.8rem;
    line-height: 30px;
    color: $text-color-black2;
  }
}

.legalicy {
  display: flex;
  margin-top: $unix-top-mobile;

  @include responsible {
    margin: 0;
  }

  &__item {
    @include responsible {
      line-height: 50px;
    }

    & + li {
      margin-left: 20px;
    }
  }

  &__link {
    font-size: 1.4rem;
    line-height: 22px;
    color: $text-color-black2;
  }
}

.social-links {
  display: flex;
  margin-top: $unix-top-mobile;

  @include responsible {
    margin: 0;
  }

  &__item {
    & + li {
      margin-left: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 17px;
  }
}
