.header {
  max-width: $size-width;
  margin: 0 auto;
  padding-left: $unix;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include responsible {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: $unix;
  }

  &_background {
    min-width: 320px;
    margin: 0 auto;

    @include responsible {
      max-width: $max-width;
      background: $color-red1;
      padding-top: 40px;
    }
  }

  &__menu {
    display: flex;
  }

  &__button {
    display: none;

    @include responsible {
      display: block;
      margin-left: 75px;
      background: $color-blue1;
      color: $text-color-white;
    }
  }
}

.navigation {
  &__mobile-btn {
    display: block;
    min-width: 60px;
    border-left: 1px solid $color-grey4;
    padding: 32px 20px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png)
      center no-repeat;

    @include responsible {
      display: none;
    }
  }

  &__list {
    display: none;

    @include responsible {
      display: flex;
      gap: 55px;
    }
  }

  &__item {
    margin-top: $unix;
  }

  &__link {
    color: $text-color-black1;
    font-size: toRem(18);
    line-height: 25px;
    font-weight: $text-weight-normal;
  }

  &_active {
    font-weight: $text-weight-bold;
  }

  &__img-arrov {
    display: inline-block;
    margin-left: 5px;
    width: 8px;
  }
}
