.header {
  min-width: 320px;
  margin: 0 auto;

  @include responsible {
    max-width: $max-width;
    background: $color-red1;
  }

  &__inner {
    max-width: $size-width;
    margin: 0 auto;
    padding-left: $unix;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include responsible {
      max-width: $size-width;
      margin: 0 auto;
      padding: 40px $unix 0 $unix * 2;
    }
  }

  .logo {
    align-items: center;

    @include responsible {
      max-width: 300px;
    }

    &__title {
      margin-left: 15px;
      font-size: 2rem;

      @include responsible {
        margin-left: $unix;
      }
    }

    &__description {
      display: none;

      @include responsible {
        display: block;
      }
    }
  }

  &__menu {
    display: flex;
  }

  .navigation {
    .burger__img {
      display: block;
      border-left: 1px solid $color-black2;
      padding: 25px 20px;

      @include responsible {
        display: none;
      }
    }

    &__list {
      display: none;

      @include responsible {
        display: flex;
        gap: 55px;
      }
    }

    .burger-checkbox:checked + .navigation__list {
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
    }

    &__item {
      margin-top: $unix;
    }

    &__link {
      color: $text-color-black1;
      font-size: 1.8rem;
      line-height: 25px;
      font-weight: $text-weight-normal;

      &.active {
        font-weight: $text-weight-bold;
      }
    }

    &__img-arrov {
      display: inline-block;
      margin-left: 5px;
      width: 8px;
    }
  }

  &__button {
    display: none;

    @include responsible {
      display: block;
      margin-left: 75px;
      background: $color-blue1;
      color: $text-color-white;
    }
  }
}
