.headline {
  padding-bottom: 40px;

  @include responsible {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 125px;
  }

  &_background {
    background: $color-red1;
    padding-top: 35px;

    @include responsible {
      padding-top: 75px;
      position: relative;
    }
  }

  &__content {
    padding: 0 $unix;

    @include responsible {
      width: percentages(750, 1170);
      padding: 0;
      position: relative;
      z-index: 10;
    }
  }

  &__title {
    font-size: 5rem;
    font-weight: $text-weight-bold;
    line-height: 1;
    letter-spacing: -0.31px;
    color: $text-color-black1;

    @include responsible {
      font-size: 8rem;
      line-height: 78px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-top: 25px;
    font-size: 2.4rem;
    font-weight: $text-weight-normal;
    line-height: 34px;
    color: $color-black3;

    @include responsible {
      margin-top: 40px;
      width: percentages(450, 750);
    }
  }

  &__buttons {
    overflow: hidden;
    margin-top: $unix;

    @include responsible {
      margin: 60px 0 0 -5px;
    }
  }

  &__button {
    width: 100%;
    text-align: center;
    margin-top: $unix;

    @include responsible {
      width: auto;
      margin: 0 0 0 5px;
    }
  }

  &__image {
    margin-top: $unix-top-mobile;

    @include responsible {
      width: percentages(795, 1400);
      margin-top: 0;
      position: absolute;
      top: 75px;
      right: 25px;
    }
  }
}
