.hiring {
  padding: 50px $unix;
  border-top: 1px solid $color-grey4;

  @include responsible {
    width: percentages(750, 1400);
    margin: 0 auto;
    padding: 105px 0 110px;
  }

  &__title {
    font-size: toRem(40);
    line-height: 1;
    letter-spacing: -0.35px;
    text-align: center;

    @include responsible {
      font-size: toRem(56);
      line-height: 1;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: toRem(24);
    line-height: 34px;
    text-align: center;

    @include responsible {
      margin-top: 20px;
    }
  }

  &__button {
    margin-top: $unix-top-mobile;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  &__list {
    margin-top: 25px;

    @include responsible {
      margin-top: 90px;
    }
  }
}
