/* MAIN */
.headline {
  padding-bottom: 40px;

  @include responsible {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 125px;
  }

  &__wrap {
    background: $color-red1;
    padding-top: 35px;

    @include responsible {
      padding-top: 75px;
      position: relative;
    }
  }

  &__content {
    padding: 0 $padding * 1px;

    @include responsible {
      width: percentages(750, $size-width); //750px
      padding: 0;
      position: relative;
      z-index: 10;
    }
  }

  &__title {
    font-size: 5rem;
    font-weight: $text-weight-bold;
    line-height: 1;
    letter-spacing: -0.31px;
    color: $text-color-black1;

    @include responsible {
      font-size: 8rem;
      line-height: 78px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-top: 25px;
    font-size: 2.4rem;
    font-weight: $text-weight-normal;
    line-height: 34px;

    @include responsible {
      margin-top: 40px;
      width: percentages(450, 750); //450px
    }
  }

  &__buttons {
    margin-top: $unix-top-mobile;

    @include responsible {
      margin-top: 60px;
    }

    .btn {
      width: 100%;
      text-align: center;

      @include responsible {
        width: auto;
      }
    }
  }

  &__btn-more {
    margin-top: $unix;

    @include responsible {
      margin: 0 0 0 5px;
    }
  }

  &__image {
    margin-top: $unix-top-mobile;

    @include responsible {
      width: percentages(795, $max-width); //795px
      margin-top: 0;
      position: absolute;
      top: 75px;
      right: 25px;
    }
  }
}

.about {
  padding: 45px 0;
  background: $color-grey2;

  &__inner {
    @include responsible {
      display: flex;
    }
  }

  .article {
    & + .article {
      margin-top: 20px;

      @include responsible {
        margin: 0 0 0 $unix * 2;
      }
    }

    &__title {
      font-family: Work Sans;
      font-size: 2.2rem;
      font-weight: $text-weight-bold;
      line-height: 32px;
      color: $text-color-black1;
    }

    &__description {
      margin-top: 10px;
      font-size: 2.2rem;
      font-weight: $text-weight-normal;
      line-height: 32px;
      color: $text-color-black1;
    }
  }
}

.customers {
  overflow: hidden;

  @include responsible {
    max-width: $size-width * 1px;
    margin: 0 auto;
    padding: $unix-top-mobile $padding * 1px 0;

    .audience__wrap + & {
      padding: 40px $padding * 1px 0;
    }
  }

  &__list {
    margin-left: -1px;
    display: flex;
    flex-wrap: wrap;

    @include responsible {
      justify-content: space-between;
    }
  }

  &__item {
    flex: 1 1 105px;
    height: 90px;
    padding: $padding * 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-grey4;
    border-left: 1px solid $color-grey4;

    @include responsible {
      flex: none;
      height: 75px;
      padding: 0;
      border: none;
    }
  }

  &__img {
    border: 1px solid $color-green1;
  }
}

.features {
  @include responsible {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/hidden-ouch.png)
      left no-repeat;
    padding: 105px 0 100px;
    display: flex;
  }

  &__desctop-section {
    display: none;

    @include responsible {
      display: block;
    }
  }

  &-desctop {
    &__content {
      max-width: 460px;
    }

    &__subtitle {
      color: $color-green1;
    }

    &__title {
      margin-top: 25px;
    }

    &__description {
      margin-top: $unix-top-mobile;
      font-size: 2.4rem;
      font-weight: $text-weight-normal;
      line-height: 34px;
    }

    &__list {
      margin-top: 40px;
    }

    &__item {
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      line-height: 28px;
      border-bottom: 1px solid $color-grey4;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $color-blue1;

        .features-desctop__item_title {
          color: $text-color-blue1;
        }
      }
    }

    &__item_img-icon {
      display: inline-block;
    }

    &__item_title {
      margin-left: $unix;
      font-size: 2.2rem;
      line-height: 26px;
      color: $text-color-black1;
    }

    &__item_text {
      margin-top: 5px;
      font-size: 1.8rem;
      line-height: 26px;
      color: $text-color-black1;
    }
  }

  &__desctop-img {
    display: none;

    @include responsible {
      display: block;
    }
  }

  &__mobile-section {
    padding: 10px 0;

    @include responsible {
      display: none;
    }
  }

  &-mobile {
    &__item {
      padding: 40px $padding * 1px;

      & + li {
        border-top: 1px solid $color-grey4;
      }
    }

    &__subtitle {
      color: $color-green1;
    }

    &__description {
      margin-top: $unix;
      font-size: 2.4rem;
      line-height: 34px;
    }

    &__img {
      margin-top: $unix-top-mobile;
    }

    &__footer {
      margin-top: 20px;
      font-size: 1.4rem;
      line-height: 22px;
      text-align: center;
      color: $color-black1;
    }
  }
}

.inbox {
  padding: 50px 0;
  background: $color-red2;

  &__inner {
    @include responsible {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img {
    @include responsible {
      width: percentages(425, 570); //425px
      display: inline-block;
    }

    &_wrap {
      @include responsible {
        width: percentages(570, $size-width); //570px
        text-align: center;
      }
    }
  }

  &__comment {
    display: none;

    @include responsible {
      margin-top: $padding * 1px;
      font-size: 1.4rem;
      line-height: 22px;
      color: $color-black1;
    }
  }

  &__content {
    margin-top: $unix-top-mobile;

    @include responsible {
      width: percentages(520, $size-width); //520px
      margin: 0 (percentages(-30, $size-width)) 0 0;
    }
  }

  &__subtitle {
    color: $text-color-red1;

    @include responsible {
      padding: 0 $padding * 2px;
    }
  }

  &__title {
    @include responsible {
      margin-top: 20px;
      padding: 0 30px;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: 2.4rem;
    line-height: 34px;

    @include responsible {
      margin-top: $unix-top-mobile;
      padding: 0 $padding * 2px;
    }
  }

  .review {
    margin-top: $unix-top-mobile;
    padding: $padding * 2px 20px;
    background: $color-white1;
    border-bottom: 4px solid $color-blue2;

    @include responsible {
      padding: $padding * 2px;
    }

    &__description {
      font-size: 2rem;
      line-height: 28px;
    }

    &__footer {
      margin-top: 25px;
      display: flex;
    }

    &__img {
      &_wrap {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__title {
      flex: 1 1 0;
      display: inline-block;
      margin-left: 10px;
      font-size: 1.6rem;
      font-weight: $text-weight-bold;
      line-height: 22px;

      span {
        display: block;
        font-weight: $text-weight-normal;
      }
    }
  }
}

.communication {
  padding: 50px $padding * 1px;

  @include responsible {
    padding: 110px $padding * 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content {
    @include responsible {
      width: percentages(460, $size-width); //460px
    }
  }

  &__subtitle {
    color: $text-color-blue2;

    @include responsible {
      margin-top: $padding * 1px;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: 2.4rem;
    line-height: 34px;

    @include responsible {
      margin-top: $unix-top-mobile;
    }
  }

  &__btn {
    margin-top: $unix-top-mobile;
  }

  &__img {
    margin-top: 40px;

    @include responsible {
      margin-top: 0;
      width: percentages(425, 570); //425px
      display: inline-block;
    }

    &_wrap {
      @include responsible {
        width: 50%; //570px
        text-align: center;
      }
    }
  }

  &__img-comment {
    margin-top: $unix;
    font-size: 1.4rem;
    line-height: 22px;
    text-align: center;
  }

  &__list {
    width: 100%;
    margin-top: 40px;
    padding-top: $unix-top-mobile;
    position: relative;

    @include responsible {
      margin-top: 20px;
      padding-top: 40px;
      display: flex;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 150px;
      border-top: 1px solid $color-black2;
    }
  }

  &__item {
    & + & {
      margin-top: $unix-top-mobile;

      @include responsible {
        margin: 0 0 0 percentages($padding, $size-width);
      }
    }
  }

  .item {
    &__description {
      font-size: 1.8rem;
      font-weight: $text-weight-normal;
      line-height: 26px;

      strong {
        font-weight: $text-weight-bold;
      }
    }

    &__link {
      display: inline-block;
      margin-top: 10px;
      font-size: 1.8rem;
      font-weight: $text-weight-bold;
      line-height: 26px;
      color: $text-color-blue1;
      text-decoration: underline;
    }
  }
}

.audience {
  padding: 50px 0;
  background: $color-blue4;

  @include responsible {
    padding: 110px 0;
  }

  &__inner {
    text-align: center;

    @include responsible {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__content {
    @include responsible {
      width: percentages(555, $size-width); //555px
      margin: 0 auto;
    }
  }

  &__subtitle {
    color: $text-color-black1;
  }

  &__description {
    margin-top: 20px;
    font-size: 2.4rem;
    line-height: 34px;
    color: $text-color-black1;

    @include responsible {
      margin-top: $unix-top-mobile;
    }
  }

  &__buttons {
    margin-top: $unix-top-mobile;
  }

  &__btn {
    display: block;
    width: 100%;
    box-shadow: none;

    @include responsible {
      display: inline-block;
      width: auto;
    }

    & + & {
      margin-top: 10px;
      background: $color-white1;
      color: $color-black2;

      @include responsible {
        margin: 0 0 0 10px;
      }
    }
  }

  &__list {
    margin-top: 40px;

    @include responsible {
      margin-top: 110px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    border-radius: 10px;
    overflow: hidden;
    min-height: 300px;
    box-shadow: 0px 1px 3px 0px #0000001a;

    @include responsible {
      min-width: 260px;
    }

    & + & {
      margin-top: $padding * 1px;

      @include responsible {
        margin: 0;
      }
    }
  }

  &__link {
    display: block;
    background: $color-white1;
    padding: 20px 20px 30px;
    text-align: center;
    font-size: 2.2rem;
    line-height: 28px;
    color: $text-color-black1;
    font-weight: $text-weight-bold;
    cursor: pointer;

    &:hover {
      background: $color-blue1;
      color: $text-color-white;
    }

    span {
      display: block;
      margin-top: 20px;
    }
  }

  &__img {
    display: inline-block;
    height: 195px;
  }
}

.feedback {
  padding: 40px $padding * 1px 50px;

  @include responsible {
    padding: 75px 0;
    position: relative;
  }

  &__item {
    @include responsible {
      width: percentages(790, $max-width); //790px
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 30px;
    color: $text-color-blue1;
  }

  &__description {
    margin-top: $unix-top-mobile;
    padding: 0 20px;
    font-size: 2.4rem;
    line-height: 34px;
    color: $text-color-black1;
  }

  &__footer {
    margin-top: $unix-top-mobile;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: $text-weight-normal;
    color: $text-color-black1;

    b {
      display: block;
      font-weight: $text-weight-bold;
    }
  }

  &__pagination_list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  &__pagination_item {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: $color-black1;

    @include responsible {
      width: 8px;
      height: 8px;
    }

    & + & {
      margin-left: 20px;

      @include responsible {
        margin-left: 10px;
      }
    }

    &.active {
      background: $color-blue1;
    }
  }

  &__img {
    margin-top: 40px;

    @include responsible {
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 25px;
      width: percentages(270, $max-width);
    }
  }
}

.hiring {
  padding: 0 $padding * 1px;

  @include responsible {
    width: percentages(750, $max-width); //750px
    margin: 0 auto;
  }

  &__wrap {
    padding: 50px 0;
    border-top: 1px solid $color-grey4;

    @include responsible {
      padding: 105px 0 110px;
    }
  }

  &__title {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.35px;
    text-align: center;

    @include responsible {
      font-size: 5.6rem;
      line-height: 1;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: 2.4rem;
    line-height: 34px;
    text-align: center;

    @include responsible {
      margin-top: 20px;
    }
  }

  &__btn {
    margin-top: $unix-top-mobile;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  &__list {
    margin-top: 40px;

    @include responsible {
      margin-top: 110px;
    }
  }

  .job {
    border: 1px solid $color-grey4;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    cursor: pointer;

    & + .job {
      margin-top: $unix;

      @include responsible {
        margin-top: 20px;
      }
    }

    &__content {
      flex: 1 1 0;
      padding: 20px;

      @include responsible {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
      }

      &:hover {
        background: $color-blue1;
      }
    }

    &__title {
      font-size: 2.2rem;
      line-height: 28px;
      color: $text-color-black1;
    }

    &__text {
      margin-top: 20px;
      font-size: 1.6rem;
      line-height: 22px;
      color: $text-color-black2;

      @include responsible {
        margin-top: 0;
      }
    }

    &__section-arrow {
      flex: 0 0 50px;
      background-color: $color-grey3;
      display: flex;
      align-items: center;
      justify-content: center;

      @include responsible {
        flex: 0 0 65px;
        background-color: $color-white1;
      }

      img {
        width: 7px;
      }
    }

    &__img {
      &:hover {
        display: none;
      }
    }

    &__img-hover {
      display: none;

      &:hover {
        display: block;
      }
    }
  }
}

.order {
  padding: 50px $padding * 1px;
  background: $color-grey2;

  @include responsible {
    padding: 70px $padding * 1px;
  }

  &__inner {
    @include responsible {
      width: percentages(945, 1370); //945px
      max-width: $size-width * 1px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  &__img {
    width: 200px;

    @include responsible {
      width: percentages(270, 945); //270px
    }
  }

  &__content {
    @include responsible {
      width: percentages(555, 945); //555px
      margin-top: 40px;
    }
  }

  &__title {
    margin-top: 40px;
    font-size: 4rem;
    font-weight: $text-weight-bold;
    line-height: 40px;
    letter-spacing: -0.25px;
    text-align: center;
    color: $text-color-black1;

    @include responsible {
      margin: 0;
      text-align: left;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: 2.2rem;
    font-weight: $text-weight-normal;
    line-height: 32px;

    @include responsible {
      margin-top: 20px;
      padding-right: 50px;
    }
  }

  &__form {
    margin-top: 80px;
    font-size: 0;

    @include responsible {
      margin-top: 25px;
    }
  }

  &__email {
    padding: 0 $padding * 1px;
    border: 1px solid $color-grey4;
    width: 100%;
    font-size: 1.8rem;
    line-height: 46px;

    &::placeholder {
      font-size: 1.8rem;
      text-align: center;
    }

    @include responsible {
      width: percentages(385, 555); //385px
    }
  }

  &__btn {
    margin-top: 10px;
    width: 100%;

    @include responsible {
      width: auto;
      margin: 0 0 0 10px;
    }
  }

  &__text {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 22px;
    color: $text-color-black2;
  }

  &__text-link {
    color: $text-color-blue1;
    text-decoration: underline;
  }
}
