.inbox {
  padding: 50px 0;
  background: $color-red2;

  @include responsible {
    max-width: $max-width;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
  }

  &__img-wrap {
    @include responsible {
      width: percentages(570, 1200);
      text-align: center;
    }
  }

  &__img {
    @include responsible {
      width: percentages(425, 570);
      display: inline-block;
    }
  }

  &__comment {
    display: none;

    @include responsible {
      display: block;
      margin-top: $unix;
      font-size: toRem(14);
      line-height: 22px;
      color: $color-black1;
    }
  }

  &__content {
    margin-top: $unix-top-mobile;

    @include responsible {
      width: percentages(520, 1200);
      // margin: 0 (percentages(-30, 1200)) 0 0;
      margin: 0;
    }
  }

  &__subtitle {
    color: $text-color-red1;

    @include responsible {
      padding: 0 $unix * 2;
    }
  }

  &__title {
    @include responsible {
      margin-top: 20px;
      padding: 0 30px;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: toRem(24);
    line-height: 34px;

    @include responsible {
      margin-top: $unix-top-mobile;
      padding: 0 $unix * 2;
    }
  }
}

.review {
  margin-top: $unix-top-mobile;
  padding: $unix * 2 20px;
  background: $color-white1;
  border-bottom: 4px solid $color-blue2;

  @include responsible {
    padding: $unix * 2;
  }

  &__description {
    font-size: toRem(20);
    line-height: 28px;
  }

  &__footer {
    margin-top: 25px;
    display: flex;
  }

  &__img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    flex: 1 1 0;
    display: inline-block;
    margin-left: 10px;
    font-size: toRem(16);
    font-weight: $text-weight-bold;
    line-height: 22px;

    span {
      display: block;
      font-weight: $text-weight-normal;
    }
  }
}
