.logo {
  display: flex;

  &__img {
    width: 48px;
    height: 48px;

    @include responsible {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 25px;
    color: $text-color-black1;
  }

  &__description {
    display: block;
    font-size: 1.8rem;
    line-height: 25px;
    color: $text-color-black2;
    font-weight: $text-weight-normal;
  }
}

.header .logo {
  align-items: center;

  @include responsible {
    max-width: 300px;
  }

  &__title {
    margin-left: 15px;
    font-size: 2rem;

    @include responsible {
      margin-left: $unix;
    }
  }

  &__description {
    display: none;

    @include responsible {
      display: block;
    }
  }
}

.footer .logo {
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include responsible {
    flex-direction: row;
    text-align: left;
  }

  &__title {
    margin-top: 20px;

    @include responsible {
      margin: 0 $unix;
    }
  }
}
