@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.3;
}

main {
  overflow: hidden;
  max-width: $max-width * 1px;
  margin: 0 auto;
}

.logo {
  display: flex;

  &__img {
    width: 48px;

    @include responsible {
      width: 60px;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 25px;
    color: $text-color-black1;
  }

  &__description {
    display: block;
    font-size: 1.8rem;
    line-height: 25px;
    color: $text-color-black1;
    font-weight: $text-weight-normal;
  }
}

.checkbox-hidden {
  display: none;
}

.horizontal {
  max-width: $size-width + $padding * 1px;
  margin: 0 auto;
  padding: 0 $padding * 1px;
}

.btn {
  min-width: 160px;
  padding: 0 25px;
  line-height: 48px;
  border-radius: 3px;
  font-size: 1.8rem;
  font-weight: $text-weight-bold;
  box-shadow: 0px 1px 3px 0px #0000001a;

  &.primary {
    background: $color-blue1;
    color: $text-color-white;
  }

  &.color {
    background: $color-white1;
    color: $text-color-blue1;
  }
}

.page-title {
  font-size: 2.2rem;
  line-height: 34px;
  font-weight: $text-weight-bold;

  & + h2 {
    margin-top: $unix;
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.35px;
    color: $color-black1;

    @include responsible {
      margin-top: 20px;
      font-size: 5.6rem;
      line-height: 1;
      letter-spacing: -0.5px;
    }
  }
}
