.order {
  background: $color-grey2;
  padding: 50px $unix;

  @include responsible {
    max-width: $max-width;
    margin: 0 auto;
    padding: 70px 225px;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 200px;

    @include responsible {
      width: percentages(270, 950);
    }
  }

  &__content {
    @include responsible {
      width: percentages(555, 950);
      margin-top: 40px;
    }
  }

  &__title {
    margin-top: 40px;
    font-size: toRem(40);
    font-weight: $text-weight-bold;
    line-height: 40px;
    letter-spacing: -0.25px;
    text-align: center;
    color: $text-color-black1;

    @include responsible {
      margin: 0;
      text-align: left;
    }
  }

  &__description {
    margin-top: $unix;
    font-size: toRem(22);
    font-weight: $text-weight-normal;
    line-height: 32px;

    @include responsible {
      margin-top: 20px;
      padding-right: 50px;
    }
  }

  &__form {
    margin-top: 80px;
    font-size: 0;

    @include responsible {
      margin-top: 25px;
    }
  }

  &__email {
    padding: 0 $unix;
    border: 1px solid $color-grey4;
    width: 100%;
    font-size: toRem(18);
    line-height: 46px;

    &::placeholder {
      font-size: toRem(18);
      text-align: center;
    }

    @include responsible {
      width: percentages(385, 555);
    }
  }

  &__button {
    margin-top: 10px;
    width: 100%;

    @include responsible {
      width: auto;
      margin: 0 0 0 10px;
    }
  }

  &__text {
    margin-top: 10px;
    font-size: toRem(14);
    line-height: 22px;
    color: $text-color-black2;
  }

  &__text-link {
    color: $text-color-blue1;
    text-decoration: underline;
  }
}
