$text-weight-bold: 700;
$text-weight-normal: 400;

$size-width: 1170px;
$max-width: 1400px;

$unix-top-mobile: 30px;
$unix: 15px;

$color-black1: #2c3241;
$color-black2: #000000;
$color-black3: #2b292d;
$color-grey1: #e3e3e3;
$color-grey2: #f4f5f7;
$color-grey3: #d5d4d5;
$color-grey4: #cfcecf;
$color-red1: #f3c6bd;
$color-red2: #fcf0e3;
$color-blue1: #3040c4;
$color-blue2: #0185d0;
$color-blue3: #00a1c6;
$color-blue4: #edf8fa;
$color-white1: #ffffff;
$color-green1: #009b4d;

$text-color-white: #ffffff;
$text-color-black1: #2b292d;
$text-color-black2: #767678;
$text-color-black3: #696c70;
$text-color-blue1: #3040c4;
$text-color-blue2: #0189d1;
$text-color-red1: #f1592b;
