@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
  overflow: hidden;
}

@import 'general/varibles.scss';
@import 'general/mixin.scss';
@import 'components/logo.scss';
@import 'components/common.scss';

body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.3;
}

main {
  overflow: hidden;
  max-width: $max-width;
  min-width: 320px;
  margin: 0 auto;
}

.top-section {
  min-width: 320px;
  margin: 0 auto;
  background: $color-red1;

  @include responsible {
    max-width: $max-width;
    padding-top: 40px;
    position: relative;
  }
}

@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/headline.scss';
@import 'components/about.scss';
@import 'components/customers.scss';
@import 'components/features.scss';
@import 'components/mobile-section.scss';

.acquire-customers {
  padding: 50px $unix 40px;
}

.engage-users {
  padding: 40px $unix;
  border-top: 1px solid $color-grey4;
}

.support {
  padding: 40px $unix 50px;
  border-top: 1px solid $color-grey4;
}

@import 'components/inbox.scss';
@import 'components/communication.scss';
@import 'components/audience.scss';
@import 'components/feedback.scss';
@import 'components/hiring.scss';
@import 'components/job.scss';
@import 'components/order.scss';
